header(class='global-header')
  a(class='header-logo' name='logoLink' href='/')
    | AE
  nav(class='breadcrumbs-container')
    ul(class='breadcrumbs')
      li(class='crumb plain-message')
        p
          | account log in
