head
  link(rel='stylesheet' href='/css/site.css')
  link(rel='stylesheet' href='/css/search.css')

body(class='search has-map desktop w1024 has-banished list')
  section(class='page-container' id='page-top')
    include d/header
    include d/searchform
  
  include d/footer
    


