//- template.pug
//- p #{name}'s Pug source code!
head
  link(rel='stylesheet' href='/css/site.css')
  link(rel='stylesheet' href='/css/homepage.css')

body(class="homepage")
  div(class="wrapper")
    section(class="page-container")
      include homepage/topban
      include homepage/leftbar
      include homepage/center
      include homepage/rightbar

    include homepage/footer

