head
  link(rel='stylesheet' href='/css/site.css')
  link(rel='stylesheet' href='/css/posting.css')

body(class='posting desktop w1024')
  section(class='page-container')
    include posting/header
    include posting/body

  include posting/footer

