h2(class='postingtitle')
  span(class='postingtitletext')
    span(id='titletextonly')
      | 3/4 scale shaddey sod
    | &nbsp; -
    span(class='price')
      | &nbsp; $2800
    small
      | &nbsp; (Newton, MA)

section(class='userbody')
  section(id='postingbody')
    | Great winter project! Need gone ASAP. This is a 3/4 scale Fokker Eindecker kit. The kit comes with everything but the instruments, prop, and engine. The motor mount is set up for 1835cc Volkswagen motor. Willing to make a trade, make an offer.    
  ul(class='notices')
    li do NOT contact me with unsolicited services or offers
  
  div(class='postinginfos')
    p(class='postinginfo') post id: 9239478397
    p(class='postinginfo reveal' style='opacity:1;')
      | posted:&nbsp;
      time(class='date timeago' datetime='2020-07-15T19:20:27-0500' title='2020-07-15 19:20')
        | 6 days ago
    p(class='postinginfo reveal' style='opacity:1;')
      | updated:&nbsp;
      time(class='date timeago' datetime='2020-07-15T19:20:27-0500' title='2020-07-15 19:20')
        | 6 days ago
    p(class='postinginfo')
      a(class='email-friend' href='/email/to/friend')
        | email to friend
    p(class='postinginfo')
      a(class='bestof-link' href='/best/of' data-flag='9' title='nominate for best-of-CL')
        span(class='bestof-icon') ♥ 
        span(class='bestof-text') best of

div(class='psa-box')
  aside(class='tsb')
    ul
      li
        a(href='/safety/link/page')
          | safety tips
      li
        a(href='/safety/link/page')
          | prohibited postings
      li
        a(href='/safety/link/page')
          | avoiding scams

div(class='avoid-scams')
  aside(class='tsb')
    p 
      a(href='/about/avoiding/scams')
        | Avoid scams, deal locally
      em
        | &nbsp;Beware wiring, cashier checks, money orders, shipping.