div(id="center")
  //- FIRST column
  div(class="community")
    div(id='ccc' class='col')
      h4(class="ban")
        a(href="#" class='ccc' data-alltitle="all community" data-cat="ccc")
          span(class="txt")
            | community
            sup(class='c')
      //- list of things
      div(class='cats')
        ul(id="ccc0" class='left')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | activities
                sup(class='c')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | childcare
                sup(class='c')

        ul(id='ccc1' class='mc')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | lost+found
                sup(class='c')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | missed
                sup(class='c')


    div(id='bbb' class='col')
      h4(class="ban")
        a(href="#" class='bbb' data-alltitle="all community" data-cat="bbb")
          span(class="txt")
            | services
            sup(class='c')
      div(class='cats')
        ul(id="bbb0" class='left')
          li
            a(href="#")
              span(class="txt")
                | automotive
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | beauty
                sup(class='c')


        ul(id='bbb1' class='mc')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | labor/move
                sup(class='c')
          li
            a(href="#" class="act" data-cat="act")
              span(class="txt")
                | legal
                sup(class='c')

  //- SECOND column
  div(class="housing")
    div(id='hhh' class='col')
      h4(class="ban")
        a(href="#" class='hhh' data-alltitle="all community" data-cat="bbb")
          span(class="txt")
            | housing
            sup(class='c')
      div(class='cats')
        ul(id="hhh0" class='left')
          li
            a(href="#")
              span(class="txt")
                | apts / housing
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | rooms / shared
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | real estate for sale
                sup(class='c')

    div(id='sss' class='col')
      h4(class="ban")
        a(href="#" class='sss' data-alltitle="all community" data-cat="bbb")
          span(class="txt")
            | for sale
            sup(class='c')
      div(class='cats')
        ul(id="sss0" class='left')
          li
            a(href="#")
              span(class="txt")
                | antiques
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | appliances
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | auto parts
                sup(class='c')

        ul(id="sss1" class='mc')
          li
            a(href="#")
              span(class="txt")
                | farm+garden
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | free
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | furniture
                sup(class='c')

  //- THIRD column
  div(class="jobs")
    div(id='jjj' class='col')
      h4(class="ban")
        a(href="#" class='jjj' data-alltitle="all community" data-cat="bbb")
          span(class="txt")
            | jobs
            sup(class='c')
      div(class='cats')
        ul(id="jjj0" class='left')
          li
            a(href="#")
              span(class="txt")
                | accounting+finance
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | admin / office
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | arch / engineering
                sup(class='c')
          li
            a(href="#")
              span(class="txt")
                | education
                sup(class='c')


