div(id='rightbar')
  div(id="langlinks")
    select(name="lang" id="chlang" class="js-only")
      option english
      option hebrew
      option chinese
      option french
  
  ul(class="menu collapsible")
    li(class="expand s")  
      h5(class='ban hot active')
        | nearby cl
      ul(class='acitem' style="display: block;")
        li(class='s')
          a(href="aslkf")
            | ames



