header(class='global-header narrow')
  a(class='header-logo' href='/')
    | AE
  nav(class='breadcrumbs-container')
    ul(class='breadcrumbs')
      li(class='crumb area')
        p
          a(href='/~/newton')
            | newton
          span(class='breadcrumb-arrow')
            | &nbsp; >
      li(class='crumb section')
        p
          a(href='/search/sss')
            | for sale
          span(class='breadcrumb-arrow')
            | &nbsp; >
      li(class='crumb category')
        p
          a(href='/search/gar')
            | gardening+soil
          
  div(class='userlinks')
    ul(class='user-actions')
      li(class='user post')
        a(href='/post')
          | post
      li(class='user account')
        a(href='/account')
          | account
    ul(class='user-favs-discards')
      li(class='user')
        div(class='favorites')
          a(href='/favorites?fl=aJDKdff9' class='favlink')
            span(class='icon icon-star fav' aria-hidden='true')
            span(class='fav-number') 1
            span(class='fav-label')  favorites



    

