div(class='content' id='sortable-results')
  sections(class='favlistsection')
    section(class='favlistinfo')
    section(class='banishlistinfo')
  
  ul(class='rows')
    li(class='result-row' data-pid='listing-object-ID')
      p(class='result-info')
        span(class='icon icon-star' role='button' title='save this post in your favorites list')
        time(class='result-date' datetime='2020-06-30 15:13' title='Tue 30 Jun 03:13:18 PM')
          | Jun 30
        a(href='/bts/d/wierd-title-hyphone/postid' data-id='post id' class='result-title hdrlnk')
          | &nbsp; Princess Summer Camp
        span(class='result-meta')
          | &nbsp;
          span(class='result-price')
            | $20
          span(class='result-hood')
            | &nbsp; (Newton)
          span(class='result-tags')
            span(class='pictag')
              | &nbsp; pic


        
